@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  margin: 0;
  width:100%;
  height:auto;
  background: black;
  position:absolute;
  border:0px;
  padding:0px;
  left:0px;
  top:0px;
  font-family: Lato;
  z-index: -99999;
  overflow: hidden;
}

.route_button{
  color: #83C9FD;
  position:relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  top: -8%;
  left: -40%;
}

.intro_page{
  height: 100%;
}

h1{
  color: #3CDCA0;
}

#titleHolder {
  position: relative;
  top: 40%;
}

#intro {
  color: #3CDCA0;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 300;

}

#launch_button{
  color: #9169F8;
  background-color: #3CDCA0;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
  top: 300px;
  padding-left: 10px;
  padding-right: 10px;
  position:relative;
  top: 20%;
  box-shadow: 2px 5px;
}
