@import url(http://fonts.googleapis.com/css?family=Lato:200,300,400,700);

body {
  margin: 0;
  width:100%;
  height:auto;
  background: black;
  position:absolute;
  border:0px;
  padding:0px;
  left:0px;
  top:0px;
  font-family: Lato;
  z-index: -99999;
  overflow: hidden;
}

.route_button{
  color: #83C9FD;
  position:relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  top: -8%;
  left: -40%;
}

.intro_page{
  height: 100%;
}

#titleHolder {
  position: relative;
  top: 30%;
  width: 70%;
  margin: 0 auto;
  padding-top: 10%;
}

#logo {
  background:url(../public/pt-logo.png) no-repeat center;
  background-size: contain;
  height:130px;
  width: 50%;
  margin: 0 auto 40px auto;
}

#intro {
  color: #3CDCA0;
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

}

#introText {
  color: #3CDCA0;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 8%;
  text-align: center;
}

#launch_button{
  color: #9169F8;
  border-radius: 28px;
  border: dotted #9169F8 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  top: 300px;
  padding: 20px 40px 20px 40px;
  top: 20%;
}
